.pane-main
{
    -fx-background-color: black;
}

.pane
{
    -fx-border-width: 10px;
    -fx-border-color: #306030;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-background-color: #304030;
    -fx-font: 16pt "Courier New";
}

.pane-without-border-1
{
    -fx-background-color: #304030;
    -fx-font: 16pt "Courier New";
}

.pane-with-border-1
{
    -fx-border-width: 3px;
    -fx-border-color: #00E020;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-background-color: #304030;
    -fx-font: 14pt "Courier New";
}

.default-label-text-1
{
    -fx-background-color: transparent;
    -fx-text-fill: #00E020;
    -fx-alignment: center;
}

.label-text-1
{
    -fx-font: 24pt "Courier New";
}

.label-text-2
{
    -fx-font: 20pt "Courier New";
}

.label-text-3
{
    -fx-font: 24pt "Courier New";
    -fx-font-weight: bold;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #00E020;
}

.label-text-4
{
    -fx-font: 16pt "Courier New";
    -fx-alignment: center-left;
}

.label-text-5
{
    -fx-font: 24pt "Courier New";
    -fx-alignment: center-left;
    -fx-font-weight: bold;
}
.label-text-6
{
    -fx-font: 16pt "Courier New";
    -fx-alignment: center-left;
    -fx-font-weight: bold;
}

.table-view-1
{
    -fx-border-style: dashed;
    -fx-border-color: #00E020;
    -fx-border-width: 3px;
    -fx-background-color: transparent;
    -fx-font: 14pt "Courier New";
    -fx-text-fill: #00E020;
    -fx-border-radius: 7px;
}

.table-view-1 .column-header-background,
{
    -fx-background-color: transparent;
}

.table-view-1 .column-header .label
{
    -fx-text-fill: #00E020;
}

.table-view-1 .column-header
{
    -fx-border-style: dashed;
    -fx-border-color: #00E020;
    -fx-border-width: 0 3 3 0;
    -fx-border-insets: 0 -3 0 0;
}

.table-view-1 .placeholder .label
{
    -fx-font: 14pt "Courier New";
    -fx-text-fill: #00E020;
}

.button-default-1
{
    -fx-border-color: #00E020;
    -fx-border-width: 3px;
    -fx-border-radius: 6px;
    -fx-background-radius: 7px;
    -fx-text-fill: #00E020;
}

.button-1
{
    -fx-font: 20pt "Courier New";
    -fx-font-weight: bold;
}

.button-2
{
    -fx-font: 18pt "Courier New";
    -fx-font-weight: bold;
}

.button-default-1:pressed
{
    -fx-border-color: black;
}

.button-default-1:hover
{
    -fx-background-color: #00E020;
    -fx-text-fill: black;
}

.button-default-2
{
}
.button-default-2:hover
{
    -fx-border-color: #00E020;
    -fx-border-width: 3px;
    -fx-border-radius: 6px;
    -fx-background-radius: 7px;
}
.button-default-2:pressed
{
    -fx-border-color: black;
}
.button-default-3
{
    -fx-border-color: #00E020;
    -fx-text-fill: #00E020;
    -fx-font: 16pt "Courier New";
    -fx-font-weight: bold;
    -fx-border-width: 3px;
    -fx-border-radius: 6 6 0 0;
    -fx-background-radius: 7 7 0 0;
}

.spinner-1 {
    -fx-background-color: #304030;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
    -fx-background-radius: 3, 3, 2;
}
.spinner-1:focused,
.spinner-1:contains-focus
{
    -fx-background-color: #304030, #304030, #304030;
    -fx-background-insets: -1.4 -1.4 -0.4 -1.4, 0 0 1 0, 1 1 2 1;
    -fx-background-radius: 4, 3, 2;
}
.spinner-1:disabled
{
    -fx-opacity: -fx-disabled-opacity;
}
.spinner-1 > .text-field
{
    -fx-background-color: #304030, #304030;
    -fx-background-insets: 0 0 1 0, 1 0 2 1;
    -fx-background-radius: 3 0 0 3, 2 0 0 2;
    -fx-font: 24pt "Courier New";
    -fx-font-weight: bold;
    -fx-text-fill: #00E020;
}

.spinner-1 .increment-arrow-button
{
    -fx-background-color: #304030, #304030, #304030;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 3 0 0, 0 2 0 0, 0 1 0 0;
    -fx-padding: 0.333em 0.666em 0.333em 0.666em; /* 4 8 4 8 */
}
.spinner-1 .decrement-arrow-button
{
    -fx-background-color: #304030, #304030, #304030;
    -fx-background-insets: -1 0 1 0, 0 1 2 1, 0 2 3 2;
    -fx-background-radius: 0 0 3 0, 0 0 2 0, 0 0 1 0;
    -fx-padding: 0.250em 0.666em 0.5em 0.666em; /* 3 8 6 8 */
}

.spinner-1 .increment-arrow-button .increment-arrow
{
    -fx-background-color: #00c61c, #00E020;
    -fx-background-insets: -0.6 0 1 0, 0;
    -fx-padding: 0.167em 0.333em 0.167em 0.333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
    -fx-rotate: 180;
}
.spinner-1 .decrement-arrow-button .decrement-arrow
{
    -fx-background-color: #00c61c, #00E020;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.167em 0.333em 0.167em 0.333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}
.spinner-1 .increment-arrow-button:pressed .increment-arrow
{
    -fx-background-color: #00c61c, #00c61c;
}
.spinner-1 .decrement-arrow-button:pressed .decrement-arrow
{
    -fx-background-color: #00c61c, #00c61c;
}
.chart-default-1
{
     -fx-background-color: black;
     -fx-text-fill: #00E020;
     -fx-legend-visible:false;
}
.axis
{
    -fx-font-size: 12px;
    -fx-tick-label-fill: #00E020;
    -fx-font-family: Courier New;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
    -fx-stroke: #00E020;
}
.chart-default-1 .axis-label
{
    -fx-text-fill: #00E020;
}
.chart-horizontal-grid-lines
{
    -fx-stroke: #00E020;
}
.chart-vertical-grid-lines
{
    -fx-stroke: #00E020;
}
.chart-default-1 .axis-tick-mark
{
    -fx-stroke: #00E020;
}
.axis-minor-tick-mark
{
    -fx-stroke: #00E020;
}
.char-default-1 .chart-series-line
{
    -fx-stroke-width: 2px;
}
.char-default-1 .default-color0.chart-series-line
{
    -fx-stroke: #00E020;
}

.char-default-1 .chart-plot-background {
    -fx-border-color: red;
    -fx-border-style: solid;
    -fx-border-width: 4px;
    -fx-border-insets: -2px;
}
.chart-plot-background {
    -fx-border-color: #00E020;
    -fx-border-width: 0 0 4 4px;
}