.pane-main
{
    -fx-background-color: black;
}

.pane
{
    -fx-border-width: 10px;
    -fx-border-color: #306030;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-background-color: #304030;
    -fx-font: 16pt "Courier New";
}

.pane-without-border-1
{
    -fx-background-color: #304030;
    -fx-font: 16pt "Courier New";
}

.default-label-text-1
{
    -fx-background-color: transparent;
    -fx-text-fill: #00E020;
    -fx-alignment: center;
}

.label-text-1
{
    -fx-font: 24pt "Courier New";
}

.label-text-2
{
    -fx-font: 20pt "Courier New";
}

.label-text-3
{
    -fx-font: 24pt "Courier New";
    -fx-font-weight: bold;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #00E020;
}

.label-text-4
{
    -fx-font: 16pt "Courier New";
    -fx-alignment: center-left;
}

.table-view-1
{
    -fx-border-style: dashed;
    -fx-border-color: #00E020;
    -fx-border-width: 3px;
    -fx-background-color: transparent;
    -fx-font: 14pt "Courier New";
    -fx-text-fill: #00E020;
    -fx-border-radius: 7px;
}

.table-view-1 .column-header-background,
{
    -fx-background-color: transparent;
}

.table-view-1 .column-header .label
{
    -fx-text-fill: #00E020;
}

.table-view-1 .column-header
{
    -fx-border-style: dashed;
    -fx-border-color: #00E020;
    -fx-border-width: 0 3 3 0;
    -fx-border-insets: 0 -3 0 0;
}

.table-view-1 .placeholder .label
{
    -fx-font: 14pt "Courier New";
    -fx-text-fill: #00E020;
}

.button-default-1
{
    -fx-border-color: #00E020;
    -fx-border-width: 3px;
    -fx-border-radius: 6px;
    -fx-background-radius: 7px;
    -fx-text-fill: #00E020;
}

.button-1
{
    -fx-font: 20pt "Courier New";
    -fx-font-weight: bold;
}

.button-2
{
    -fx-font: 18pt "Courier New";
    -fx-font-weight: bold;
}

.button-default-1:pressed
{
    -fx-border-color: black;
}

.button-default-1:hover
{
    -fx-background-color: #00E020;
    -fx-text-fill: black;
}

.button-default-2
{
}
.button-default-2:hover
{
    -fx-border-color: #00E020;
    -fx-border-width: 3px;
    -fx-border-radius: 6px;
    -fx-background-radius: 7px;
}
.button-default-2:pressed
{
    -fx-border-color: black;
}
